@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #eee;
    display: flex;

}

.card {
    background: #fff;
    box-shadow:inset 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;

    max-width: 900px;
    width: 650px;
    border-radius: 12px;

    margin: auto;

}