@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #eee;
    display: flex;

}

.card {
    background: #fff;
    box-shadow:inset 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;

    max-width: 900px;
    width: 650px;
    border-radius: 12px;

    margin: auto;

    display: flex;
    gap: 1rem;

}

.header {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
    font-weight: bold;
}

.icon,
.close-btn {
    background: lightblue;
    height: 50px;
    width: 50px;
    border-radius:  50%;

    font-size: 2rem;
    font-weight: bold;
    color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.close-btn {
    color: red;
    font-size: 1.5rem;
    height: 30px;
    width: 30px;
}

.continue,
.cancel {
    padding: 0.5rem 1rem;
    font-size: inherit;
    border-radius: 8px;

    color: #fff;
    background: blueviolet;
}

.cancel {
    background: #ddd;
    color: blueviolet;
    border: 0;
}

.continue,
.cancel,
.close-btn,
.icon {
    cursor: pointer;
}

.text {
    margin: 0.7rem 0;
}